{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images\logo1.png' %}" type="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginn.css'%}" />

<!------ Include the above in your HEAD tag ---------->
    <title>climber | login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <h3>climber</h3>
            <img width="90" src="{% static 'images\logo1.png' %}" id="icon" alt="User Icon" />
            
          </div>
          <form method="post">
            {%csrf_token%}
            <div class="input-group form-group">
                <div class="input-group-prepend">
            <input type="text" id="username" name="username" id="name" class="form-control" placeholder="Username" required data-error="Please enter your name">
            <input type="text"  name="password" id="password" class="form-control" placeholder="Password" >
            
            <div class="form-group">
              <div style="color: red;">
                  
                {% for messag in messages %}
                    <h6>{{messag}}</h6>
                {%endfor%}
              </div>
            
            <input type="submit"  id="submit" class="login-btn" value="Log In">
          </form>
          
            <a class="underlineHover" href="{% url 'signup' %}">Create new account</a>
            
      


          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
      </div>
</body>





</html>
