<!-- password_reset.html -->
{% extends 'localbase.html'%}

{% block content %}
  <h1>Reset password</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}

<!-- password_reset_email.html -->
{% load static %}

Click on the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}This link will expire in {{ timeout|default:"48" }} hours.{% endblocktrans %}

{% block subcopy %}
If you did not request a password reset, please ignore this email.
{% endblock %}

<!-- password_reset_confirm.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Reset password</h1>
  <form method="post">