<div class="container">
    <div class="row billing-fields">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
            <div class="create-ac-content bg-light-gray padding-20px-all">
                <br><br>
                <h2>Deliver to:</h2>
                <br>
                <div class="row">
                    {% for item in address %}
                    <select class="form-select form-select-lg mb-3" id="addressform"
                        onchange="addressValue()">
                        
                        <option >
                            
                            <div class="col-md-6">
                                <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i>
                                            </div>
                                           
                                            <div class="media-body">
                                                
                                                <h6>{{item.address}}</h6>
                                                
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        </option>
                        {% endfor %}
                      
                    </select>

                    <input type="hidden" name="selectedAddress">
                    <br>
                    <div class="d-flex justify-content-left mb-2">
                        <a href="{% url 'addaddress'%}" class="btn btn-outline-dark"><strong>Add new
                                Address</strong></a>
                    </div>
                </div>
            </div>
        </div>