{% extends 'user/index1.html'%}

{% block title %}collections{% endblock %}
{% block body %}
      <div class="cycle_section layout_padding">
         <div class="container">
            <h1 class="cycle_taital">Our collections</h1>
            <p class="cycle_text">It is a long established fact that a reader will be distracted by the </p>
            <!-- start for loop -->
            {% for product in productt %}
            <div class="cycle_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="box_main">
                        <h6 class="number_text">{{forloop.counter}}</h6>
                        <div class="image_2"><img src="{{ product.image.url }}"></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="col d-grid cycle_taital">{{ product.name }}</h1>
                     <p class="lorem_text">{{ product.description }}</p>

                     <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">{{ product.price | stringformat:'d' }}</span></h4>
                     
                     <div class="btn_main">
                        
                        <div class="buy_bt"><a href="{% url 'product_view' product.category.slug product.slug %}">View</a></div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      
            {% endfor %}
            
{% endblock %}
  









            
           
         
      <!-- contact section end -->
      
      <!-- footer section start -->
     